@media (min-width:768px)  {
    #contents {
        color: #000000; font-family: 'Lato', sans-serif; font-size: 30px; font-weight: 300;
    }
}

@media (max-width:768px)  {
    #contents {
        color: #000000; font-family: 'Lato', sans-serif; font-size: 18px; font-weight: 300;
    }
}

.img-thumbnail {
    border: 0 !important;
    height: 30%;
}

#MainContainer{
    overflow: hidden;
    min-height: 600px;
    /* <div className="row justify-content-center align-self-center"> */
}

.display-block{
    display: block;
}

.card-img-top{
    width:10%;
}

.cursorPointer{
    cursor: pointer;
}

.bg-color{
    background-color:rgba(192,192,192,.2);
    min-height: 600px;
}

.homelink{
    margin-top: 15%;
    width: 28%;
    /* min-height: 15%; */
    font-size: 34px;
    min-height: 20%;
    font-family: Apple Chancery, cursive;
}

.bg-gray{
    background-color:rgba(192,192,192,.7);
    margin-right: 4px;
    color: black;
    font-style: bold;
}

.bg {
    /* The image used */
    /* background-image: url("../images/mainBg.jpg"); */
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bgBlack{
    background-color: black
}

.bgBlackwithOpacity{
    background-color: rgba(0,0,0,0.2)
}

.mt-10{
    margin-top: 10%;
}

.searchEmpContainer{
    margin:10px;
    width: 50%;
}

.searchEmpContainer input{
    border: 2px solid gray;
}

.m10px{
    margin:10px;
}

.sortarrow{
    font-size: 20px;
}

.homgbg{
    min-height: 600px;
}